<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    {#<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> #}
</head>
<body>
    <div class="player-container">
    Player: {{ game.player.name }}  Money: {{ game.player.money }} <br>
    </div>
    <br>
    <div class="oss-container">
    <button id="reloadOssBtn">reload OSs</button>
    {% for os in oss %}
    <div class="os-container" id = {{ os.id }}>
        {{os.name}} |
        has image {{ os.has_image() }} |
        {% if os.has_image() %}
        <button class="buildOsBtn" >rebuild</button>
        {% else %}
        <button class="buildOsBtn" >build</button>
        {% endif %}
    </div>  
    {% endfor %}
    <div class="ships-container">
    {% for ship in game.player.spaceships %}
    <div class="ship-container" id = "{{ ship.id }}">
        {{ ship.id }} | {{ship.name}} |
        os: {{ ship.operating_system.name }} |
        {% if ship.started %}
        started
        {% else %}
        not started
        {% endif %} 
        <button class="inspectShipBtn" >inspect</button>
        <button class="modifyShipBtn" >modify</button>
        
        {% if ship.started %}
        <button class="startShipBtn" disabled>started</button>
        <button class="consoleShipBtn" >console</button>
        {% elif ship.operating_system.has_image() %}
        <button class="startShipBtn" >start</button>
        <button class="consoleShipBtn" disabled>console</button>
        {% else %}
        <button class="startShipBtn" disabled>start</button>
        <button class="consoleShipBtn" disabled>console</button>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    <br>
    <div class="actions-container">
        <button id="menuBtn">Main Menu</button>
        <button id="newShipBtn">New Ship</button>
        <button id="mapBtn">Map</button>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>