<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    {#<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> #}
</head>
<body>
    <div class="top-container">

        <button id="mainBtn" >return</button>
        <button id="reloadMapBtn" >reload Map</button>
    </div>
    <br>
    <div class="map-container">
        <img id = "map" src="---" alt="Not loaded" />
    </div>
    
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>