<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div id="join-game-container">
        <label for="IP">Host IP:</label>
        <input type="text" id="ip" name="ip" value="localhost">
        <label for="port">Port:</label>
        <input type="text" id="port" name="port" value="5000">
        <button id="joinGameBtn">Join Game</button>
    </div>
    <br>
    <div class="actions-container">
        <button id="menuBtn">Main Menu</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>