
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="load-container">
        <div id = "savegame-select-container">
            <select id="savegameSelect" name="savegameSelect" required>
            </select>
            <br>
            <button id="loadGameBtn">loadgame</button>
            <br>
        </div>
    </div>
    <div id = nogame-container>
        <p>No saved games found</p>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>